mixin capsule(story)
	- var taglist = ''
	if story.tags
		- b = story.tags.map(t => t.name)
		- taglist = b.join(', ')
	if !rootPath
		- rootPath = ''
	- fullpath = rootPath + story.path
	if (story.rating === 'teen')
		- label = 'warning'
	else if (story.rating === 'mature')
		- label = 'danger'
	else 
		- label = 'info'
	.panel.panel-default
		.panel-heading
			a(title='#{taglist}' href='#{fullpath}') #{story.title}
			span.label.pull-right(class='label-#{label}')= story.rating
		.panel-body
			| #{story.pairing}
			br
			!= story.summary
			br
			| #{story.wordCount} words; reading time #{story.readingTime}. 
			i= story.published
