mixin capsule(story)
	- taglist = story.tags.join(', ')
	.story_summary
		- fullname = '../' + story.path.dir + '/' + story.path.name + '.html'
		a.storytitle(title='#{taglist}' href=fullname) "#{story.title}"
		| &nbsp; #{story.pairing}, #{story.rating}
		br
		= story.summary
		br
		| #{story.wordCount} words; reading time #{story.readingTime}. 
		i= story.published
