mixin capsule(story)
	- var taglist = ''
	if story.tags
		- b = story.tags.map(t => t.name)
		- taglist = b.join(', ')
	if !rootPath
		- rootPath = ''
	.story_box
		- fullpath = rootPath + story.path
		a.storytitle(title='#{taglist}' href='#{fullpath}') #{story.title}
		br
		| #{story.pairing}, #{story.rating}
		br
		= story.summary
		br
		| #{story.wordCount} words; reading time #{story.readingTime}. 
		i= story.published
