a(href="index.html")
	b Antennapedia
| &nbsp;|&nbsp;
a(href="#{rootPath}all.html") all stories
| &nbsp;|&nbsp;
a(href='#{rootPath}tags.html') by tags
| &nbsp;|&nbsp;
a(href='#{rootPath}pairings.html') by pairing
| &nbsp;|&nbsp;
a(href='#{rootPath}characters.html') by character
| &nbsp;|&nbsp;
a(href='#{rootPath}new.html') newest stories
br
