nav.navbar.navbar-ct-transparent.navbar-relative
	.container
		.navbar-header
			button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#{rootPath}index.html') Antennapedia
		#navbarResponsive.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li: a.active(href='#{rootPath}all.html') all stories
				li: a.active(href='#{rootPath}tags.html') by tag
				li: a.active(href='#{rootPath}pairings.html') by pairing
				li: a.active(href='#{rootPath}characters.html') by character
				li: a.active(href='#{rootPath}new.html') newest
