extends basic.jade

mixin capsule(story)
	if !rootPath
		- rootPath = ''
			- fullpath = rootPath + story.path
			a.storytitle(href=fullpath) #{story.title} - #{story.pairing}

block topmatter
	.wrapper: .masthead(style="background-image: url('#{b}')")
		.container: .row: .col-md-5.offset-md-1(style="margin-top: 4em;")
			h2= title
			p #{summary}

block content
	.wrapper: .container 
		- var list = archive
		- each year in list
			.row
				.col-md-4
					h2= year.year
					p #{year.wordcount} words.
			.row
				- each month in year.months
					.col-md-3
						h4= month.name
						- each story in month.data
							+capsule(story)
							br
				
