extends basic.jade

block title
	title= site.title

block topmatter
	h1= site.title
	p= archive.subtitle
	!= contents
	p #{storycount} stories totalling #{wordcount} words.
	
	p See the
		a(href='yearlist.hmtml') full list by year.

block content
	#twocolumn
		- var fnames = Object.keys(fandoms)
		- each ftag in fnames
			- var fandom = fandoms[ftag]
			- var tagobj = tags[ftag]
			.box_50
				h3
					a(href='tags/#{tagobj.urlSafe}.html')= fandom.title
					|:&nbsp;
					if tagobj.length === 1
						| 1 story
					else
						| #{tagobj.length} stories
				p= fandom.description

block footer
	hr
	p: small: a(href='acknowledgments.html') Credits, acknowledgments, and disclaimers.
	p: small: i Last updated #{date}.
