extends basic.jade

block title
	title= site.title

block topmatter
	h1= site.title
	p= archive.subtitle
	p!= archive.description

block content
	p #{storycount} stories totalling #{wordcount} words.
	- var fnames = Object.keys(fandoms)
	- each ftag in fnames
		- var fandom = fandoms[ftag]
		- var tagobj = tags[ftag]
		h3
			a(href='tags/#{tagobj.urlSafe}.html')= fandom.title
			|:&nbsp;
			if tagobj.length === 1
				| 1 story
			else
				| #{tagobj.length} stories
		p= fandom.description
	hr
	p Want to take the archive on the go? All the standalone stories are in 
		a(href='printable/all_stories.epub') this handy epub book.
		|  Each series is also available as an epub file; see the table of contents
		|  page for a series you're interested in for the link.
