extends basic.jade

block title
	title= site.title

block navigation
	// nothing

block topmatter
	.wrapper: .topmast
		.container: .row.row-bottom
			.col-md-12.cell-bottom
				h1 Antennapedia's fanfiction
				!= contents
				p #{storycount} stories totalling #{wordcount} words.
				a.btn.btn-default.btn-sm(href='all.html') All stories &rarr;
				| &nbsp;
				a.btn.btn-primary.btn-sm(href='tags.html') By tags &rarr;
				| &nbsp;
				a.btn.btn-info.btn-sm(href='pairings.html') By pairings &rarr;
				| &nbsp;
				a.btn.btn-success.btn-sm(href='characters.html') By characters &rarr;
				| &nbsp;
				a.btn.btn-warning.btn-sm(href='yearlist.html') By year &rarr;
				| &nbsp;
				a.btn.btn-danger.btn-sm(href='new.html') Latest &rarr;

block content
	.wrapper: .container 
		.row: .col-md-4 &nbsp;
		.row
			- var fnames = Object.keys(fandoms)
			- each ftag in fnames
				- var fandom = fandoms[ftag]
				- var tagobj = tags[ftag]
				- var subtitle = ''
				- if (tagobj.length === 1) subtitle = '1 story'; 
				- else subtitle = tagobj.length + ' stories'
				.col-md-4
					.panel.panel-default
						.panel-heading 
							span.pull-right= subtitle
							a(href='tags/#{tagobj.urlSafe}.html')= fandom.title
						.panel-body
							= fandom.description

block footer
	hr
	nav.navbar: .container
		.navbar-header
			button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#{rootPath}index.html') Antennapedia
		#navbarResponsive.collapse.navbar-collapse
			ul.nav.navbar-nav
				li: a(href='#{rootPath}acknowledgments.html') credits
				p.navbar-text Last updated #{date}.
