extends basic.jade

mixin renderToc(items)
	ol(class='toc')
		- each item in items
			li
				a(href='')= item.text
				if (item.children.length > 0)
					+renderToc(item.children)

block links
	link(rel='stylesheet' rev='stylesheet' href='../css/styles.css')
	link(rel='alternate' type='application/rss' href='../rss.xml')

block banner
	style.
		#nav { background-image: #{banner} }
			
block navigation
	include partials/subnav.jade

block topmatter
	h2= title
	p= summary
	.info
		a(href='#{altlink}') discussion
		br
		if tags
			| tags:
			- for (i = 0; i < tags.length; i++)
				- urltag = tagsUrlSafe[i]
				- tag = tags[i]
				a(href='../tags/#{urltag}.html') #{tag},&nbsp;
				
block content
	#storybody
		if toc
			+renderToc(toc)
		!= contents

block footer
	hr
	p: small: a(href='../acknowledgments.html') Credits, acknowledgments, and disclaimers.
