extends basic.jade

mixin renderToc(items)
	.dropdown
		button#chapters.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
			| Chapters 
			span.caret
		ul.dropdown-menu(aria-labelledby='chapters')
			- each item in items
				li: a(href="##{item.id}")= item.text

block title
	- rootPath = '../'
	if banner
		- b = banner
	else
		- b = rootPath + 'img/twelve_clara_header.jpg'
	title= title

block topmatter
	.wrapper: .masthead(style="background-image: url('#{b}'); min-height: 450px;")
		.container: .row.row-bottom
			.col-md-6.cell-bottom(style="height: 425px;")
				h2= title
				p #{summary}
			.col-md-6.cell-bottom(style="height: 425px;") &nbsp;
				
block content
	.container
		.row: .col-lg-8 &nbsp;
		.row
			.col-lg-8.col-md-9
				!= contents
			.col-lg-3.col-md-3(style="position: sticky; top: 20px;")
				if (rating === 'mature')
					- label = 'warning'
				else if (rating === 'adult')
					- label = 'danger'
				else 
					- label = 'info'
				p: span.label(class='label-#{label}')= rating
				p #{wordCount} words; reading time #{readingTime}.
				p: a(href='#{altlink}') first posted here 
				| on #{published}
				if tags
					- var tagl = []
					- for (i = 0; i < tags.length; i++)
						- tag = tags[i].name
						- urltag = tags[i].slug
						- tagl.push("<a href='../tags/" + urltag + ".html'>" + tag + "</a>")
					- var tagstring = tagl.join(', ')
					p 
						| tags:&nbsp;
						!= tagstring
				if toc
					+renderToc(toc)
