extends basic.jade

block links
	link(rel='stylesheet' rev='stylesheet' href='../css/styles.css')
	link(rel='alternate' type='application/rss' href='../rss.xml')

block banner
	style.
		#nav { background-image: #{banner} }
			
block navigation
	include partials/subnav.jade

block topmatter
	h2= title
	p= summary
	div.info
		a(href='#{altlink}') discussion
		br
		| tags:
		- for (i = 0; i < tags.length; i++)
			- urltag = tagsUrlSafe[i]
			- tag = tags[i]
			a(href='../tags/#{urltag}.html') #{tag},&nbsp;
				
block content
	div#storybody
		!= contents

block footer
	hr
	p: small: a(href='../acknowledgments.html') Credits, acknowledgments, and disclaimers.
