extends basic.jade

block banner
	style.
		#nav { background-image: #{banner} }
			
block navigation
	include partials/subnav.jade

block topmatter
	h2= title
	p= summary
	div.info
		a(href='#{altlink}') discussion
		br
		| tags:
		- for (i = 0; i < tags.length; i++)
			- urltag = tagsUrlSafe[i]
			- tag = tags[i]
			a(href='../tags/#{urltag}.html') #{tag},&nbsp;
				
block content
	div#storybody
		!= contents
