extends basic.jade

mixin renderToc(items)
	.dropdown
		button#chapters.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
			| Chapters 
			span.caret
		ul.dropdown-menu(aria-labelledby='chapters')
			- each item in items
				li: a(href="##{item.id}")= item.text

block title
	- rootPath = '../'
	if !banner
		if !pairing
			- banner = '../img/twelve_header.jpg'
		else if pairing.match(/p:malcolm\/clara/i)
			- banner = '../img/malcolm_clara_header.jpg'
		else if pairing.match(/p:malcolm\/jamie/i)
			- banner = '../img/malcolm_jamie_header.jpg'
		else if pairing.match(/p:peter\/jenna/i)
			- banner = '../img/colepaldi_header.jpg'
		else if pairing.match(/p:twelve\/clara/i)
			- banner = '../img/twelve_clara_header_2.jpg'
		else if pairing.match(/p:giles\/buffy/i)
			- banner = '../img/giles_buffy_header.jpg'
		else if pairing.match(/p:giles\/ethan/i)
			- banner = '../img/giles_ethan_header.jpg'
		else if pairing.match(/p:giles\/xander/i)
			- banner = '../img/giles_xander_header.jpg'
		else if pairing.match(/c:.*malcolm/i)
			- banner = '../img/malcolm_tux_header.jpg'
		else if pairing.match(/f:.*thick/i)
			- banner = '../img/malcolm_tux_header.jpg'
		else if pairing.match(/f:doctor/i)
			- banner = '../img/twelve_header.jpg'
		else if pairing.match(/f:btvs/i)
			- banner = '../img/giles_header.jpg'
		else if pairing.match(/c:.*giles/i)
			- banner = '../img/giles_header.jpg'
		else
			- banner = '../img/twelve_clara_header.jpg'
	title= title

block topmatter
	.wrapper: .masthead(style="background-image: url('#{banner}'); background-position: center;")
		.container: .row.row-bottom
			.col-md-8.cell-bottom(style="height: 425px;")
				h2= title
				p= summary
			.col-md-4.cell-bottom &nbsp;
				
block content
	.container
		.row: .col-lg-8 &nbsp;
		.row
			.col-lg-8.col-md-9
				!= contents
			.col-lg-3.col-md-3(style="position: sticky; top: 20px;")
				h5= title
				if (rating === 'mature')
					- label = 'warning'
				else if (rating === 'adult')
					- label = 'danger'
				else 
					- label = 'info'
				p= pairing
					| &nbsp;
					span.label(class='label-#{label}')= rating
				p #{wordCount} words; reading time #{readingTime}.
				p: a(href='#{altlink}') first posted here 
				| on #{published}
				if tags
					- var tagl = []
					- for (i = 0; i < tags.length; i++)
						- tag = tags[i].name
						- urltag = tags[i].slug
						- tagl.push("<a href='../tags/" + urltag + ".html'>" + tag + "</a>")
					- var tagstring = tagl.join(', ')
					p 
						| tags:&nbsp;
						!= tagstring
				if toc
					+renderToc(toc)
