extends basic.jade

mixin renderToc(items)
	ol(class='toc')
		- each item in items
			li
				a(href='#item.id')= item.text
				if (item.children.length > 0)
					+renderToc(item.children)

block banner
	style.
		#nav { background-image: #{banner} }
			
block topmatter
	h2= title
	p= summary
	p #{wordCount} words; reading time #{readingTime}
	p 
		a(href='#{altlink}') first posted here
		|  on #{published}
	if tags
		- var tagl = []
		- for (i = 0; i < tags.length; i++)
			- urltag = tagsUrlSafe[i]
			- tag = tags[i]
			- tagl.push("<a href='../tags/" + urltag + ".html'>" + tag + "</a>")
		- var tagstring = tagl.join(', ')
		.info 
			| tags:&nbsp;
			!= tagstring
				
block content
	#storybody
		if toc
			+renderToc(toc)
		!= contents

block footer
	hr
	p: small: a(href='../acknowledgments.html') Credits, acknowledgments, and disclaimers.
