extends basic.jade

mixin renderToc(items)
	ol
		- each item in items
			li.a(href='\##{item.id}')= item.text
			- if item.children.length > 0 
				+renderToc(item.children)

block banner
	style.
		#nav { background-image: #{banner} }
			
block navigation
	include partials/subnav.jade

block topmatter
	h2= title
	p= summary
	div.info
		a(href='#{altlink}') discussion
		br
		| tags:
		- for (i = 0; i < tags.length; i++)
			- urltag = tagsUrlSafe[i]
			- tag = tags[i]
			a(href='../tags/#{urltag}.html') #{tag},&nbsp;
				
block content
	- if toc
		+renderToc(toc)
	div#storybody!= contents
