extends basic.jade
include partials/capsule.jade

block title
	- rootPath = '../'
	- fandom = fandoms[tag]
	- series = series[tag]
	if fandom
		title= fandom.title
		- banner = fandom.banner
	else if series
		title= series.title
		- banner = series.banner
	else
		title tag: #{tag}

	if tag.match(/p:malcolm\/clara/i)
		- banner = '../img/malcolm_clara.jpg'
	else if tag.match(/p:malcolm\/jamie/i)
		- banner = '../img/malcolm_jamie.jpg'
	else if tag.match(/p:malcolm\/sam/i)
		- banner = '../img/malcolm_sam.gif'
	else if tag.match(/p:peter\/jenna/i)
		- banner = '../img/colepaldi.jpg'
	else if tag.match(/p:twelve\/clara/i)
		- banner = '../img/twelve_clara_2.jpg'
	else if tag.match(/p:giles\/buffy/i)
		- banner = '../img/giles_buffy.jpg'
	else if tag.match(/p:giles\/ethan/i)
		- banner = '../img/giles_ethan.jpg'
	else if tag.match(/p:giles\/xander/i)
		- banner = '../img/giles_xander.jpg'
	else if tag.match(/c:.*malcolm/i)
		- banner = '../img/malcolm_tux.jpg'
	else if tag.match(/f:.*thick/i)
		- banner = '../img/malcolm_tux.jpg'
	else if tag.match(/f:doctor/i)
		- banner = '../img/twelve.jpg'
	else if tag.match(/f:btvs/i)
		- banner = '../img/giles.jpg'
	else if tag.match(/f:the-hour/i)
		- banner = '../img/the_hour.jpg'
	else if tag.match(/c:.*giles/i)
		- banner = '../img/giles.jpg'
	else
		- banner = '../img/twelve_clara.jpg'

block topmatter
	.wrapper: .masthead(style="background-image: url('#{banner}')")
		.container: .row.row-bottom
			.col-md-8.cell-bottom
				if fandom
					h2= fandom.title
					p= fandom.description
				else if series
					h2= series.title
					p= series.summary
				else
					h2 #{tag}
				if pagination.files.length === 1
					p 1 story.
				else
					p= pagination.files.length
						|  stories.
			.col-md-4.cell-bottom &nbsp;

block content
	.wrapper: .container
		.row: .col-lg-8 &nbsp;
		.row
			- each story in pagination.files
				.col-md-6
					+capsule(story)
