extends basic.jade
include partials/capsule.jade

block title
	- rootPath = '../'
	- fandom = fandoms[tag]
	- series = series[tag]
	if fandom
		title= fandom.title
		- banner = fandom.banner
	else if series
		title= series.title
		- banner = series.banner
	else
		- banner = '../img/twelve_clara_header.jpg'
		title tag: #{tag}

block topmatter
	.wrapper: .masthead.masthead(style="background-image: url('#{banner}')")
		.container: .row: .col-md-4.offset-md-1(style="margin-top: 4em;")
			if fandom
				h2= fandom.title
				p= fandom.description
			else if series
				h2= series.title
				p= series.summary
			else
				h2 #{tag}
			if pagination.files.length === 1
				p 1 story.
			else
				p= pagination.files.length
					|  stories.

block content
	.wrapper: .container
		.row: .col-lg-8 &nbsp;
		.row
			- each story in pagination.files
				.col-md-6
					+capsule(story)
