extends basic.jade
include partials/capsule.jade

block links
	link(rel='stylesheet' rev='stylesheet' href='../css/styles.css')
	link(rel='alternate' type='application/rss' href='../rss.xml')

block title
	- fandom = fandoms[tag]
	- series = series[tag]
	if fandom
		title= fandom.title
		- banner = fandom.banner
	else if series
		title= series.title
		- banner = series.banner
	else
		title= tag

block banner
	if banner
		style.
			#nav { background-image: url(#{banner})	 }
			
block navigation
	include partials/subnav.jade

block topmatter
	if fandom
		h2= fandom.title
		p= fandom.description
	else if series
		h2= series.title
		p= series.summary
	else
		h2= tag
	if pagination.files.length === 1
		p 1 story.
	else
		p= pagination.files.length
			|  stories.
				
block content
	#storylisting
		- each story in pagination.files
			+capsule(story)
			br
